:root {
  --background-color: #444;
  --text-color: #fff;
  --text-color-alpha: rgba(255, 255, 255, 0.8);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.lds-roller {
  display: inline-block;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
}

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}

.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}

.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}

.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}

.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}

.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}

.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
body {
  background: linear-gradient(#383838 30%, rgba(158, 158, 158, 0) 71.82%), rgb(17, 17, 17);
}

button {
  cursor: pointer;
}

.container {
  padding: 63px 87px 63px 80px;
  box-sizing: content-box;
  max-width: 1357px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
}

.theme-mode {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 38.608px;
  border-radius: 40px;
  background: #d9d9d9;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  left: 4px;
  bottom: 4px;
  background-color: #111;
  transition: 0.4s;
}

input:checked + .slider:before {
  transform: translateX(60px);
}

.slider.round {
  border-radius: 40px;
}

.slider,
.round:before {
  border-radius: 50%;
}

.theme-mode-text {
  margin-top: 5px;
  color: var(--text-color);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.search__input {
  display: flex;
  align-items: center;
  padding: 20px 80px 14px 102px;
  width: 803px;
  height: 62px;
  border-radius: 40px;
  background: var(--background-color);
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.25);
  border: none;
  outline: none;
  background: transparent;
  color: var(--text-color-alpha);
  background: url("../icons/search.png") no-repeat 33px 8px;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

.location {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 292px;
  height: 62px;
  border: none;
  border-radius: 40px;
  background: #4cbb17;
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.25);
}

.location:hover {
  background: #297605;
  transition: 0.3s;
}

.location__icon {
  margin-right: 15px;
}

.location-text {
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.main-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 49px;
}

.time {
  width: 510px;
  height: 330px;
  padding: 53px 0 48px 0;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  background: var(--background-color);
  box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 0.5);
}

.time__city {
  color: var(--text-color);
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

.time__time {
  color: var(--text-color);
  font-family: Poppins;
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

.time__date {
  color: var(--text-color);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.weather {
  width: 780px;
  height: 330px;
  padding: 26px 30px 30px 24px;
  border-radius: 30px;
  background: var(--background-color);
  box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.weather-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.weather-wrapper-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.weather-temperature-value {
  font-family: Poppins;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: linear-gradient(84deg, var(--text-color) -16.56%, rgba(255, 255, 255, 0) 118.43%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.weather-temperature-feelslike {
  color: var(--text-color-alpha);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: -19px;
}

.weather-temperature-feelslike span {
  color: var(--text-color-alpha);
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.weather-sunrise {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sunrise-div {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.sunrise-text {
  color: var(--text-color);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.sunrise-time {
  color: var(--text-color);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.sunset-div {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.sunset-text {
  color: var(--text-color);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.sunset-time {
  color: var(--text-color);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.weather-sunset {
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-wrapper-middle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: var(--text-color);
}

.weather-condition {
  text-align: center;
  height: 240px;
}

.weather-condition-image {
  width: 200px;
  height: 200px;
}

.weather-condition-text {
  text-align: center;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.weather-extra-details {
  width: 247px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 16px;
}

.weather-humidity {
  width: 107.396px;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.weather-extra-value {
  color: var(--text-color);
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.weather-extra-text {
  color: var(--text-color);
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.weather-wind {
  width: 107.396px;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.weather-pressure {
  width: 107.396px;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.weather-uv {
  width: 107.396px;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.weather__fivedays {
  margin-top: 39px;
  width: 414px;
  height: 386px;
  padding: 18px 14px 0 30px;
  border-radius: 30px;
  background: var(--background-color);
  box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 0.5);
}

.weather__fivedays-title {
  color: var(--text-color);
  text-align: center;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.weather__fivedays-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
}

.weather__fivedays-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 43px;
}

.weather__fivedays-icon {
  width: 60px;
  height: 60px;
}

.weather__fivedays-card-temp {
  color: var(--text-color);
  width: 62px;
  height: 60px;
  display: flex;
  justify-content: right;
  align-items: center;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.weather__fivedays-card-day {
  color: var(--text-color);
  display: flex;
  width: 163px;
  height: 60px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.weather__hourly {
  margin-top: 39px;
  width: 870px;
  height: 386px;
  padding: 13px 80px 16px 80px;
  border-radius: 30px;
  background: var(--background-color);
  box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 0.5);
}

.weather__hourly-title {
  color: var(--text-color);
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

.weather__hourly-cards {
  margin-top: 19px;
  display: flex;
  justify-content: space-between;
}

.weather__hourly-card {
  width: 130px;
  height: 290px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 13px 0 18px 0;
  border-radius: 40px;
  background: #373636;
}

.weather__hourly-time {
  color: var(--text-color);
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.weather__hourly-temp {
  color: var(--text-color);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.weather__hourly-arrow {
  width: 50px;
  height: 50px;
  margin-top: 6px;
}

.weather__hourly-windspeed {
  color: var(--text-color);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}/*# sourceMappingURL=style.css.map */